[config]
# version_check = true

[config.wallpaper]
command = "swww"
arguments = ["img", "--transition-type", "center"]
# pre_hook = ""

[config.custom_keywords]
test = "aaaa"

[templates.name1]
input_path = "./colors.whatever-extension"
output_path = "./a/colors-generated.whatever-extension"
input_path_modes = { dark = "./colors.whatever-extension", light = "./colors.whatever-extension"}
colors_to_compare = [
    { name = "black", color = "#000000" },
    { name = "red", color = "#ff0000" },
    { name = "maroon", color = "#800000" },
    { name = "yellow", color = "#ffff00" },
    { name = "olive", color = "#808000" },
    { name = "lime", color = "#00ff00" },
    { name = "green", color = "#008000" },
    { name = "aqua", color = "#00ffff" },
    { name = "teal", color = "#008080" },
    { name = "blue", color = "#0000ff" },
    { name = "navy", color = "#000080" },
    { name = "fuchsia", color = "#ff00ff" },
    { name = "purple", color = "#800080" },
]
compare_to = "{{colors.primary.default.hex}}"
pre_hook = 'echo "source color {{colors.source_color.default.hex}}, source image {{image}}, closest color {{closest_color}}"'
post_hook = 'echo "after gen"'

# Only hex values
[config.custom_colors]
green = "#00FF00"
red = "#FF0000"
blue = { color = "#0000FF", blend = false }
