[package]
name = "matugen"
version = "0.11.2"
description = "A material you color generation tool with templates"
repository = "https://github.com/InioX/matugen"
categories = ["command-line-utilities"]
exclude = [
    "default.nix",
    "flake.nix",
    "shell.nix",
    "example/*",
]
license = "GPL-2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["winuser"] }

[target.'cfg(macos)'.dependencies]
enquote = "1.1.0"

[dependencies]
material-color-utilities-rs = { version = "0.5.0",package = "ini-material-color-utilities-rs", path = "material-color-utilities-rs", features = ["serde", "clap"] }
image = "0.24.6"
owo-colors = "3.5.0"
clap = { version = "4.2.4", features = ["derive"] }
color-eyre = { version = "0.6.2", default-features = false }
serde = { version = "1.0.160", features = ["derive"] }
toml = "0.7.3"
directories = "5.0"
resolve-path = "0.1.0"
regex = "1.8.1"
pretty_env_logger = "0.4.0"
log = "0.4.17"
paris-log = { version = "1.0.2", features = ["icons"] }
colorsys = "0.6.7"
prettytable-rs = "0.10.0"
serde_json = "1.0.107"
update-informer = "1.1.0"

[workspace]
members = ["material-color-utilities-rs"]
